
*.m~
*.zip
3rdparty/*
data.mat
cvx_project_traj_gen_sdp_t_relax.m
*.asv
ipin_marker_mapper/*
ellipse/*
visualize_mm.m
*.mat
*.pdf
*.mltbx
Add-Ons/.toolboxFolders
Add-Ons/.toolboxJavaEntries
Add-Ons/Toolboxes/Robotics Toolbox for MATLAB/code/*
test_script/test_homo.m
test_script/test_imu_gps_data.m
hand_eye_calib/docs/figures/mit_ut_data_gen/3dterrain.fig
hand_eye_calib/docs/figures/mit_ut_data_gen/circle_terrain.eps
beautiful_plot/aboxplot/aboxplot.m
beautiful_plot/aboxplot/colorgrad.m
beautiful_plot/aboxplot/quartile.m
test_script/*
*.rar
imgproc/pnp/3rdparty/*

imgproc/pnp/test/test1.m
hand_eye_calib/stochastics/test/test.m
imgproc/pnp/test/test_nargin.m
imgproc/pnp/test/eurasip/data/data_100_0.01_10txt
imgproc/pnp/test/eurasip/data/*
imgproc/pnp/test/formeSO32.m

hand_eye_calib/stochastics/test/figures/*
traj_opt_on_manifold/SOn_regression-master/*

manifold_motion_smoothing/data/images/*.bmp

manifold_motion_smoothing/data/*
manifold_motion_smoothing/result/*
manifold_motion_smoothing/gyro_processing
manifold_motion_smoothing/manifold_opt



manifold_motion_smoothing/COPYRIGHT.txt

manifold_motion_smoothing/inverse_interp.m

manifold_motion_smoothing/readgyro.m

manifold_motion_smoothing/readme

manifold_motion_smoothing/readts.m

manifold_motion_smoothing/stabilization_demo.m
